<ion-app>
  <ion-menu slot="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <div class="ion-activatable ripple-parent">
          <ion-title>Menu </ion-title>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item
            [routerLink]="['/cursos']"
            routerLinkActive="router-link-active"
            lines="full"
          >
            <ion-icon name="school" slot="start" color="primary"></ion-icon>
            <ion-label color="primary"> Cursos </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item
            [routerLink]="['/curso-form']"
            routerLinkActive="router-link-active"
            lines="full"
          >
            <ion-icon name="reader" slot="start" color="primary"></ion-icon>
            <ion-label color="primary">Formulario</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
