<ion-header translucer="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let curso of cursos" size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title><b>{{curso.titulo}} </b> </ion-card-title>
            <ion-card-subtitle> {{curso.subtitulo}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <img
              [src]=" curso.imagen && curso.imagen.formats.small.url ? 'http://localhost:1337' + curso.imagen.formats.small.url : 'http://www.uh.edu/pharmacy/_images/directory-staff/no-image-available.jpg'"
              alt=""
            />
          </ion-card-content>
          <ion-card-content>
            <ion-text color="dark">
              {{curso.descripcion}}
            </ion-text>
            <ion-text color="dark">
              <p style="font-size: 20px"><b>{{curso.precio}} €</b></p>
            </ion-text>
            <div>
              <ion-button
                color="dark"
                expand="full"
                [routerLink]="['/','curso-form', curso.id]"
                >Actualizar</ion-button
              >
              <ion-button
                color="danger"
                expand="full"
                (click)="deleteCurso(curso.id, curso.titulo)"
                >Borrar</ion-button
              >
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" routerLink="/curso-form">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
